<input type="file" (change)="onVideoSelected($event)" accept="video/*" />

<input type="file" (change)="onSubtitleFileSelected($event)" accept=".vtt,.srt" />

<video #videoPlayer width="640" height="360" controls (timeupdate)="onTimeUpdate(videoPlayer)">
  <source [src]="videoSrc">
</video>

<div class="subtitle-display">
  <span *ngFor="let word of currentSubtitleWords" (click)="onWordClick(word)">
    {{ word }}
  </span>
</div>

<div class="translation-list">
  <h3>Saved Translations:</h3>
  <ul>
    <li *ngFor="let item of savedTranslations">
      {{ item.word }} => {{ item.translation }}
    </li>
  </ul>
</div>
