
<input type="file" (change)="onVideoSelected($event)" accept=".mp4,.webm,.ogg,.mkv,.avi,.mov,.flv,.ts,.m4v" />

<input type="file" (change)="onSubtitleFileSelected($event)" accept=".vtt,.srt" />

<p>{{ message }}</p>

<video #videoPlayer *ngIf="videoSrc" [src]="videoSrc" controls width="640" (timeupdate)="onTimeUpdate(videoPlayer)"></video>

<div *ngIf="currentSubtitleWords.length > 0" class="subtitle-display">
  <span *ngFor="let word of currentSubtitleWords" (click)="onWordClick(word)">
    {{ word }}
  </span>
</div>

<div *ngIf="savedTranslations.length > 0" class="translation-list">
  <h3>Saved Translations:</h3>
  <ul>
    <li *ngFor="let item of savedTranslations">{{ item.word }} => {{ item.translation }}</li>
  </ul>
</div>
